---
import { TrafficLightsIcon } from "@/components/icons/TrafficLightsIcon";
import blurCyanImage from "@/layouts/Syntax/images/blur-cyan.png";
import blurIndigoImage from "@/layouts/Syntax/images/blur-indigo.png";
import test from "@/pages/templates/algorithm/function.test?raw";
import source from "@/pages/templates/algorithm/function?raw";
import { Image } from "@astrojs/image/components";
import { Code } from "astro/components";

const tabs = [
  { name: ".../algorithm/function.ts", isActive: false, code: source },
  { name: ".../algorithm/function.test.ts", isActive: true, code: test },
];
---

<div class="relative">
  <Image
    class="absolute -top-64 -right-64"
    src={blurCyanImage.src}
    alt=""
    width={530}
    height={530}
  />
  <Image
    class="absolute -bottom-40 -right-44"
    src={blurIndigoImage.src}
    alt=""
    width={567}
    height={567}
  />
  <div
    class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-sky-300 via-sky-300/70 to-blue-300 opacity-10 blur-lg"
  >
  </div>
  <div
    class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-sky-300 via-sky-300/70 to-blue-300 opacity-10"
  >
  </div>
  <div
    class="relative rounded-2xl bg-[#0A101F]/80 ring-1 ring-white/10 backdrop-blur"
  >
    <div
      class="absolute h-px -top-px left-20 right-11 bg-gradient-to-r from-sky-300/0 via-sky-300/70 to-sky-300/0"
    >
    </div>
    <div
      class="absolute h-px -bottom-px left-11 right-20 bg-gradient-to-r from-blue-400/0 via-blue-400 to-blue-400/0"
    >
    </div>
    <div class="pt-4 pl-4">
      <TrafficLightsIcon className="h-2.5 w-auto stroke-slate-500/30" />
      <div class="flex mt-4 space-x-2 text-xs">
        {
          tabs.map((tab) => (
            <div
              class:list={[
                "group",
                "flex h-6",
                "rounded-full",
                "cursor-pointer",
                "font-medium",
                "p-px",
                "data-[tab=active]:text-sky-500",
                "data-[tab=active] bg-gradient-to-r",
                "data-[tab=active]:from-sky-400/30",
                "data-[tab=active]:via-sky-400",
                "data-[tab=active]:to-sky-400/30",
                "data-[tab=active]:text-sky-300",
                "data-[tab=inactive]:text-slate-500",
              ]}
              data-tab={tab.isActive ? "active" : "inactive"}
            >
              <div
                class:list={[
                  "flex",
                  "items-center",
                  "rounded-full",
                  "px-2.5",
                  "group-data-[tab=active]:bg-slate-800",
                ]}
              >
                {tab.name}
              </div>
            </div>
          ))
        }
      </div>

      {
        tabs.map(({ code, isActive }) => (
          <div
            class:list={[
              "flex items-start px-1 mt-6 text-sm",
              "data-[panel=inactive]:hidden",
            ]}
            data-panel={isActive ? "active" : "inactive"}
            style={{
              "--astro-code-color-background": "transparent",
            }}
          >
            <div
              aria-hidden="true"
              class="pr-4 font-mono border-r select-none border-slate-300/5 text-slate-600"
            >
              {Array.from({
                length: 8,
              }).map((_, index) => (
                <Fragment>
                  {(index + 1).toString().padStart(2, "0")}
                  <br />
                </Fragment>
              ))}
            </div>
            <Code code={code} lang="typescript" theme="css-variables" />
          </div>
        ))
      }

      <script is:inline>
        const container = document.currentScript.parentElement;
        const tabs = container.querySelectorAll("[data-tab]");
        const panels = container.querySelectorAll("[data-panel]");

        tabs.forEach((tab, i) => {
          tab.addEventListener("click", () => {
            tabs.forEach((tab) => (tab.dataset.tab = "inactive"));
            panels.forEach((panel) => (panel.dataset.panel = "inactive"));

            tabs[i].dataset.tab = "active";
            panels[i].dataset.panel = "active";
          });
        });
      </script>
    </div>
  </div>
</div>
