---
import { GitHubIcon } from "@/components/icons/GitHubIcon";
import { Logo, Logomark } from "@/components/Logo";
import { MobileNavigation } from "@/components/MobileNavigation";
import { Search } from "@/components/Search";
import { ThemeSelector } from "@/components/ThemeSelector";

const { navigation } = Astro.props;
const isScrolled = false;
---

<header
  class:list={[
    "sticky top-0 z-50 flex flex-wrap items-center justify-between bg-white px-4 py-5 shadow-md shadow-slate-900/5 transition duration-500 dark:shadow-none sm:px-6 lg:px-8",
    isScrolled
      ? "dark:bg-slate-900/95 dark:backdrop-blur dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75"
      : "dark:bg-transparent",
  ]}
>
  <script is:inline>
    function onScroll() {
      console.log(document.currentScript, document.currentScript.parentElement);
      // setIsScrolled(window.scrollY > 0);
    }
    onScroll();
    window.addEventListener("scroll", onScroll, { passive: true });
  </script>

  <div class="flex mr-6 lg:hidden">
    <MobileNavigation navigation={navigation} client:visible />
  </div>
  <div class="relative flex items-center flex-grow basis-0">
    <a href="/" aria-label="Home page">
      <Logomark className="h-9 w-9 lg:hidden" />
      <Logo
        className="hidden w-auto h-9 fill-slate-700 dark:fill-sky-100 lg:block"
      />
    </a>
  </div>
  <div class="mr-6 -my-5 sm:mr-8 md:mr-0">
    <Search client:idle />
  </div>
  <div class="relative flex justify-end gap-6 basis-0 sm:gap-8 md:flex-grow">
    <ThemeSelector className="relative z-10" />
    <a href="https://github.com" class="group" aria-label="GitHub">
      <GitHubIcon
        className="w-6 h-6 fill-slate-400 group-hover:fill-slate-500 dark:group-hover:fill-slate-300"
      />
    </a>
  </div>
</header>
