---
import { GitHubIcon } from "@/components/icons/GitHubIcon";
import { Logo, Logomark } from "./Logo";
import { MobileNavigation } from "./MobileNavigation";
import { Search } from "./Search";
import { ThemeSelector } from "./ThemeSelector";

const { navigation } = Astro.props;
---

<header>
  <style>
    header {
      @apply sticky top-0 z-50 flex flex-wrap items-center justify-between px-4 py-5 transition duration-500 bg-white shadow-md shadow-slate-900/5  sm:px-6 lg:px-8;
    }

    :global([data-theme="dark"]) header {
      @apply shadow-none;
    }

    :global([data-theme="dark"]) header:not([data-scrolled]) {
      @apply bg-transparent;
    }
    :global([data-theme="dark"]) header[data-scrolled] {
      @apply bg-slate-900/95 backdrop-blur [@supports(backdrop-filter:blur(0))]:bg-slate-900/75;
    }
  </style>

  <script is:inline>
    const header = document.currentScript.parentElement;

    function onScroll() {
      if (window.scrollY > 0) {
        header.dataset.scrolled = true;
      } else {
        delete header.dataset.scrolled;
      }
    }

    onScroll();
    window.addEventListener("scroll", onScroll, { passive: true });
  </script>

  <div class="flex mr-6 lg:hidden">
    <MobileNavigation navigation={navigation} client:visible />
  </div>
  <div class="relative flex items-center flex-grow basis-0">
    <a href="/" aria-label="Home page" class="flex items-center gap-8">
      <Logomark className="h-9 w-9 overflow-hidden rounded-full" />
      <Logo
        className="hidden w-auto h-9 dark:text-sky-100 lg:flex items-center font-display text-slate-900 tracking-wide"
      />
    </a>
  </div>
  <div class="mr-6 -my-5 sm:mr-8 md:mr-0">
    <Search client:idle navigation={navigation} />
  </div>
  <div class="relative flex justify-end gap-6 basis-0 sm:gap-8 md:flex-grow">
    <ThemeSelector className="relative z-10" client:visible />
    <a
      href={`https://github.com/${import.meta.env.PUBLIC_GITHUB_USER}/${
        import.meta.env.PUBLIC_GITHUB_REPO
      }`}
      class="group"
      aria-label="GitHub"
    >
      <GitHubIcon
        className="w-6 h-6 fill-slate-400 group-hover:fill-slate-500 dark:group-hover:fill-slate-300"
      />
    </a>
  </div>
</header>
